
.awesome {
  background-color: white;
}

/* Title */
.awesome__title {
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 25px;
}

/* subTitle */
.awesome__subTitle {
  height: 19px;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878B;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 67px;
}

.awesome__flexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* firstBlock */
.awesome__flexBox_item1 {
  width: 350px;
  text-align: center;
  padding-bottom: 109px;
}

.awesome__flexBox_item1_image {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-color: #D98943;
  border-radius: 50%;
  background: url("../img/image1.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-bottom: 30px;
}

.awesome__flexBox_item1_title {
  position: center;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.awesome__flexBox_item1_subTitle {
  position: center;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

/* secondBlock */
.awesome__flexBox_item2 {
  width: 350px;
  text-align: center;
  padding-bottom: 109px;
}

.awesome__flexBox_item2_image {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-color: #D98943;
  border-radius: 50%;
  background: url("../img/image2.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-bottom: 30px;
}

.awesome__flexBox_item2_title {
  position: center;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.awesome__flexBox_item2_subTitle {
  position: center;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

/* thirdsBlock */
.awesome__flexBox_item3 {
  width: 350px;
  text-align: center;
  padding-bottom: 109px;
}

.awesome__flexBox_item3_image {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-color: #D98943;
  border-radius: 50%;
  background: url("../img/image3.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-bottom: 30px;
}

.awesome__flexBox_item3_title {
  position: center;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.awesome__flexBox_item3_subTitle {
  position: center;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
