
.awesome {
  background-color: white;
}



/* firstBlock */
.awesome__item1 {
  width: 350px;
  text-align: center;
  padding-bottom: 109px;
}

.awesome__item1_image {
  width: 70px;
  height: 70px;
  border: 1px solid #D98943;
  border-radius: 50%;
  background: url("../img/image1.svg") no-repeat center;
  margin: auto auto 30px;
}

.awesome__item1_title {
  position: center;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.awesome__item1_subTitle {
  position: center;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

/* secondBlock */
.awesome__item2 {
  width: 350px;
  text-align: center;
  padding-bottom: 109px;
}

.awesome__item2_image {
  width: 70px;
  height: 70px;
  border: 1px solid #D98943;
  border-radius: 50%;
  background: url("../img/image2.svg") no-repeat center;
  margin: auto auto 30px;
}

.awesome__item2_title {
  position: center;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.awesome__item2_subTitle {
  position: center;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

/* thirdsBlock */
.awesome__item3 {
  width: 350px;
  text-align: center;
  padding-bottom: 109px;
}

.awesome__item3_image {
  width: 70px;
  height: 70px;
  border: 1px solid #D98943;
  border-radius: 50%;
  background: url("../img/image3.svg") no-repeat center;
  margin: auto auto 30px;
}

.awesome__item3_title {
  position: center;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.awesome__item3_subTitle {
  position: center;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
