
.pricing {
  background-color: #F5F5F5;
}

/* firstBlock */
.pricing__flexBox_item1 {
  text-align: center;
  padding-bottom: 82px;
}

.pricing__flexBox_item1_title {
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 8px;
  background-color: #333333;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.pricing__flexBox_item1_price {
  line-height: 41px;
  padding-top: 26px;
  padding-bottom: 33px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: white;
  background-color: #333333;
  margin: 2px 0 2px 0;
}

.pricing__flexBox_item1_offer {
  line-height: 19px;
  padding-top: 17px;
  padding-bottom: 14px;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s linear;
}

.pricing__flexBox_item1_offer:hover {
  background-color: #D98943;
}

/* secondBlock */
.pricing__flexBox_item2 {
  text-align: center;
  padding-bottom: 82px;
}

.pricing__flexBox_item2_title {
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 8px;
  background-color: #333333;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.pricing__flexBox_item2_price {
  line-height: 41px;
  padding-top: 26px;
  padding-bottom: 33px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: white;
  margin: 2px 0 2px 0;
  background-color: #333333;
}

.pricing__flexBox_item2_offer {
  line-height: 19px;
  padding-top: 17px;
  padding-bottom: 14px;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s linear;
}

.pricing__flexBox_item2_offer:hover {
  background-color: #D98943;
}

/* thirdsBlock */
.pricing__flexBox_item3 {
  text-align: center;
  padding-bottom: 82px;
}

.pricing__flexBox_item3_title {
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 8px;
  background-color: #333333;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.pricing__flexBox_item3_price {
  line-height: 41px;
  padding-top: 26px;
  padding-bottom: 33px;
  background-color: #333333;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: white;
  margin: 2px 0 2px 0;
}

.pricing__flexBox_item3_offer {
  line-height: 19px;
  padding-top: 17px;
  padding-bottom: 14px;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s linear;
}

.pricing__flexBox_item3_offer:hover {
  background-color: #D98943;
}

.list_item {
  line-height: 19px;
  padding-top: 10px;
  padding-bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  margin: 4px 0 4px 0;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #86878B;
  background-color: white;
}

.pricing__text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
